
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family:Arial, Helvetica, sans-serif;
}
#all{
    width: 80%;
    margin: 30px auto;    
    border-radius: 20px;
    background: #62659c43;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:linear-gradient(-45deg,rgb(190, 202, 255) 30% , blue );
}


header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-size: 2.5rem;
    font-weight: 700;
    /* color: #fff; */
    background: linear-gradient(to right,rgba(255, 255, 255, 0.82) ,rgb(221, 0, 44)30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent ;
    margin-bottom: 1rem;
}

#new-task-form{
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#new-task-input{
    flex: 1 1 0%;
    background: rgba(0, 1, 74, 0.988);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: #fff;
    font-size: 1.25rem;
}
#new-task-input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
#new-task-submit{
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 800;
    background: linear-gradient(to right,rgb(221, 0, 44)5%,rgba(5, 0, 0, 0.73) );
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent ;
    cursor: pointer;
    transition: .5s;
}
#new-task-submit:hover{
    opacity: .8;
    
}
#new-task-submit:active{
    opacity: .6;
}
main{
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.task-list{
    padding: 1rem;
}
.task-list h2{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    margin-bottom: 1rem;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background: rgba(0, 1, 74, 0.988);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
}
#tasks .task .content{
    flex: 1 1 0%;
}
#tasks .task .content .text{
    color: white;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: .5s;
}
#tasks .task .content .text:not(:read-only){
    color: crimson;
}

#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}
.task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
}
.task .actions button:hover{
    opacity: .8;
}
.task .actions button:active{
    opacity: .6;
}

.task .actions .edit{
    color: white;
}
.task .actions .delete{
    color: crimson;
}